{% extends 'base.html' %}

{% block title %}
    <title>DevChallenge | Admin</title>
{% endblock %}

{% block content %}
    <div id="container">
        <h1 align="center">Hello, {{ user.first_name }}!</h1>
        <div id="thin_line" align="center" style="padding-left: 24vw"></div>
        <div id="empty" style="padding-top: 10px;"></div>
        <div id="menu-buttons" align="center" style="padding-bottom: 20px;">
         <div id="logout" style="float: left; padding-left: 35vw;">
            <a href="/portal/logout"><input type="button" class="std-button" value="Logout"/></a>
        </div>
        <div id="create-admin" style="float: right; padding-right: 35vw;">
            <a href="{% url 'create_admin' %}"><input type="button" class="std-button" value="Create Admin"/></a>
        </div>
        </div>

    <div id="all-people" style="padding-top: 25px;">
        <h5 align="center">{{ success_message }}</h5>
     <div id="all_persons" style="float: left; padding-left: 100px; width: 35vw;">
        <h3 align="center">All Interested Persons</h3>
        <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                {% for person in persons %}
                    <tr>
                        <td>{{ person.First_name }} {{ person.Last_name }}</td>
                        <td>{{ person.Email }}</td>

                    </tr>
                {% endfor %}
        </table>
     </div>

     <div id="all_admins" style="float: right; padding-right: 100px; width: 35vw;">
        <h3 align="center">All HackAdmins</h3>
        <table>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email</th>
                </tr>
                {% for admin in admins %}
                    <tr>
                        <td>{{ admin.user.first_name }} {{ admin.user.last_name }}</td>
                        <td>{{ admin.Role }}</td>
                        <td>{{ admin.user.email }}</td>
                    </tr>
                {% endfor %}
        </table>
    </div>
    </div>
</div>

{% endblock %}