{% extends 'base.html' %}

{% block title %}
    <title>DevChallenge | Success!</title>
{% endblock %}

{% block content %}
<div id="success" align="center" style="padding-top: 10vw;">
    <h1>Thank you for signing up! Be on the watch for our emails!</h1>
    <div id="thin_line"></div>
    <div id="empty"style="padding: 15px;"></div>
    <div id="backHome" class="std-button">
        <a href="{% url 'home' %}"><input type="button" class="std-button" value="Back to Home"/></a>
    </div>
</div>

{% endblock %}
