{% extends 'base.html' %}

{% block title %}
    <title>DevChallenge | Login</title>
{% endblock %}

{% block content %}
    <div id="backHome" class="std-button">
        <a href="{% url 'home' %}"><input type="button" class="std-button" value="Back to Home"/></a>
    </div>
    <div id="login" align="center">
    <h2>HackMcGill Admin Login</h2>
        <div id="thin_line"></div>
    <h5><b>Note that your username is your email.</b></h5>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="std-button">Login</button>
    </form>
</div>
{% endblock %}
